@use './variables.scss';

.wrapper {
  $left-spacing: calc((100vw - min(100vw, $max-width)) / 2);
  max-width: min(100%, $max-width);
  margin-left: $left-spacing;
}

.flex {
  display: flex;

  &-dir-col {
    flex-direction: column;
  }

  &-dir-row {
    flex-direction: row;
  }

  &-wrap {
    flex-wrap: wrap;
  }

  &-justify-start {
    justify-content: flex-start;
  }

  &-justify-center {
    justify-content: center;
  }

  &-justify-end {
    justify-content: flex-end;
  }

  &-justify-between {
    justify-content: space-between;
  }

  &-align-start {
    align-items: flex-start;
  }

  &-align-center {
    align-items: center;
  }

  &-align-end {
    align-items: flex-end;
  }
}
